# Node dependencies
node_modules/
server/node_modules/

# Editor
.vscode/

# Logs / temp
*.log
.cache/
tmp/

# OS
Thumbs.db
.DS_Store

# Environment variables
.env
server/.env
client/.env

# Ignore real documents (keep folder)
documents/*
!documents/.gitkeep
